Softwares/Installer/
Others/
Softwares/Examples/Bluepill/Using_HAL_Libraries/.metadata/
Softwares/Examples/Bluepill/Using_HAL_Libraries/RemoteSystemsTempFiles/
Softwares/Examples/Bluepill/Using_HAL_Libraries/Hello_World/Debug/

Softwares/Examples/Bluepill/Using_FreeRtos_and_HAL/.metadata/
Softwares/Examples/Bluepill/Using_FreeRtos_and_HAL/RemoteSystemsTempFiles/
Softwares/Examples/Bluepill/Using_FreeRtos_and_HAL/Hello_World/Debug/
Softwares/Examples/Nucleo-F411RE/Using_HAL_Libraries/.metadata/
Softwares/Examples/Nucleo-F411RE/Using_HAL_Libraries/Hello_world/Debug/
Softwares/Examples/Nucleo-F411RE/Using_HAL_Libraries/RemoteSystemsTempFiles/.project
